.vscode/

__pycache__/

dist/
build/
env/
.env/
*.manifest
*.spec

tmp/
Results/
df/
trash/

.ipynb_checkpoints/
*.ipynb

settings_local.py
preprocessing.py
credentials.py

dataset_test.py
Analysis.py

*.csv
